.App {
  font-family: Tahoma;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background: linear-gradient(#87c9f5, #9dd8cb);
  font-size: 1.1rem;
  height: 100%;
}
